.ticket {
    width: 100%;
    background: white;
    list-style: none;

    & .ticket__to-from {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        width: 92%;
        margin: 0 auto;

        & .ticket-block {
            width: 30.5%;
        
            & p:first-of-type {
                font-family: "Open Sans";
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
                letter-spacing: 0.5px;
                text-align: left;
                color: rgba(160, 176, 185, 1);
            }
        
            & p {
                font-family: "Open Sans";
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 21px;
                letter-spacing: 0px;
                text-align: left;
                color: rgba(74, 74, 74, 1);
        
            }
    }


}



li {
    margin-top: 20px;
}

.ticket__header {
    width: 92%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & img {
        width: 110px;
        height: 36px;
        align-self: center;
    }

    & p {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #2196F3;
    }
}


}

.ticket__ul {
    padding: 0px;
}

.S7 {
    content: url(../../images/s7.png)
}

.FG{
    content: url(../../images/fg.png)
}
.EK {
    content: url(../../images/ek.png)
}
.EY {
    content: url(../../images/ey.png)
}

.MH {
    content: url(../../images/mh.png)
}
.TG {
    content: url(../../images/tg.png)
}